.header-container{
    display: flex;
    justify-content: left;
    height: 120px;
    margin-left: 150px;
}

#userName{
text-align: right;
width: 200px;
height: 100px;
}

.menu{
    display: flex;
}

#sideMenuBar{ /* 하위 클래스*/
    background-color: white;
    width : 300px;
    height: 730px;
    margin-top: 100px;
    margin-left:100px;

    border-right: 2px solid #FFD2C4;
}

#sideMenuContainer{  /* 상위 클래스 (sidemenubutton) */           
    background-color: white; 
    font-weight: bold; 
    font-size: larger; 
    text-align: center; 
    line-height: 2cm; 
}
.sideMenuButton{ 
    width: 250px;
    height: 50px;
    /* margin: 11px auto; */ 
    margin-left: 50px;
    margin-top: 30px;
    cursor: pointer;
    line-height: 50px;
    text-align: center;
} 
#sidebuttonMain{
    background-color: #E54945;
    border-radius: 5px;
}
.sideMenuButton:hover{ 
    background-color: #E54945;
    border-radius: 5px;
}
.sideMenuButton:active{
    background-color: #E54945;
    border-radius: 5px;
}

#backgroundpage{
    background-color : white;
    width : 1400px;
    height: 750px;
    margin-top: 50px;

}

#mainMenuContainer{
    display: flex;
    background-color: white;
    margin-top:70px;
    margin-right: 90px;
}
.mainMenuButton{
    background-color: white;
    /* border: 1px solid black; */
    width: 200px;
    height: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top : 40px;
    line-height: 50px;
    cursor: pointer;
}

.FundingMenuButton{
    background-color: white;
    /* border: 1px solid black; */
    width: 200px;
    height: 50px;
    font-weight: bolder;
    text-align: center;
    margin-top : 40px;
    line-height: 50px;
    cursor: pointer;
    font-size: 12px;
}

.mainMenuButton:hover{
    background-color: #E54945;
    transition: 0.5s;
    border-radius: 5px;
}

.FundingMenuButton:hover{
    background-color: #E54945;
    transition: 0.5s;
    border-radius: 5px;
}
#mainMenuButton1{
    margin-left : 105px;
    border : 1px solid #E54945;
    border-radius: 5px;
}
#mainMenuButton2{
    margin-left : 20px;
    border : 1px solid #E54945;
    border-radius: 5px;
}
#mainMenuButton3{
    margin-left : 20px;
    border : 1px solid #E54945;
    border-radius: 5px;
}


.memberIDSearchContainer{
    display:flex;
    height: 35px;
    margin-top: 20px;
    background-color: white;
}

.memberIDButton{
    background-color: white;
    border: 1px solid black;
}
#memberID{
    width : 100px;
    margin-left: 485px;
    margin-right: 30px;
    line-height:30px;
    border-radius: 3px;
    text-align: center;
}
#inputID{
    width:600px;
    text-align: center;
    border-radius: 3px;
    line-height:30px;    
}
#searchButton{
    background-color:black;
    color:white;
    width: 90px;
    text-align: center;
    cursor: pointer;
    border-radius: 3px;
    font-weight: bold;
    line-height: 30px;
}
#searchButton:hover{
    background-color: #E54945;
    cursor: pointer;
}

.listPage{
    background-color: white;
    border-bottom:1px solid rgba(255, 0, 0, 0.2);
    border-bottom:none;
    width: 1200px;
    height: 550px;
    /* margin: auto 80px; */
    margin-top: 20px;
    margin-left: 110px;
}

.SortationContainer{
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
}

#Sortation1{
    margin-left:50px;
    margin-right:20px;

}
#Sortation2{
    margin: auto 40px;
}
#Sortation3{
    margin: auto 30px;
}
#Sortation4{
    margin: auto 30px;
}
#Sortation5{
    margin: auto 200px;
}
#Sortation6{
    margin: auto 55px;
}
#Sortation7{
    margin: auto 10px;
}

.listPageLine{
    margin-bottom: 60px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.5);
    
}
#listPageLine1{
    border-bottom: 2px solid #E54945;
    box-shadow: 4px 0px 0px 0px  rgb(200, 200, 200);
}

.mainMenuButton.active {
    background-color: #E54945; /* 적절한 배경색으로 변경하세요 */
}
.FundingMenuButton.active {
    background-color: #E54945; /* 적절한 배경색으로 변경하세요 */
}
.logo{
    cursor: pointer;
}

