
.loginMain {
    padding-top: 80px;
    font-size: 150%
}

.login div {

    padding-bottom: 13px;
}

.login{
    width: 400px;
    margin: 0px auto;
    letter-spacing: -0.6px;
    background-color: rgb(255, 255, 255);
}

.inputMargin {

    margin-top: 23px;

}
.boxMargin2 {

    position: relative;
    height: 51px;
}

.password ,.userId {

    width: 100%;
    height: 54px;
    padding: 0px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid rgb(221, 221, 221);
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: rgb(51, 51, 51);
    outline: none;
    box-sizing: border-box;

}
.loginMain{

    font-weight: 800;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
}
.buttons {

    margin-top: 28px;

}

.loginButton{

    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: rgb(255, 255, 255);
    background-color: #f35f4c;
    border: 0px none;
}

.signupButton {

    display: block;
    padding: 0px 10px;
    text-align: center;
    overflow: hidden;
    width: 100%;
    height: 54px;
    border-radius: 3px;
    color: #f35f4c;
    background-color: white;
    border: 1px solid #f35f4c;
}

.finding {

    text-align: right;

}
