.mypoint{
    padding: 0px 0px 20px 0px;
}

.mypoint p{
    font-size: 18px;
}

.mypoint p strong{
    font-size: 20px;
    color: #f35f4c;
}


.mypoint-wrapper h2{
    margin-bottom: 10px;
}

.point-table{
    padding: 10px;
    border-radius: 15px;
    border: 1px solid #b4b4b4;
    box-shadow: 0px 2px 4px 0px rgb(182, 182, 182);
}

table {
    width: 100%;
    border-collapse: separate;
    border-spacing: 0 20px;

}

th{
    border-bottom: #b4b4b4 1px solid;
    
}

th, td {
    text-align: center;
}

.pagination {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.pagination a {
    color: black;
    padding: 8px 16px;
    text-decoration: none;
}

.pagination a.active {
    background-color: #3f3f3f;
    color: white;
}

.pagination a:hover:not(.active) {
    background-color: #ddd;
}