.review{
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.review .swiper-slide img{
    object-fit: cover;
    width: 350px;
    height: 350px;
}


.review-content{
    flex-direction: column;
}

