/* 판매자 신청 */

.outline {
    flex-direction: column;
    width: 50%;
    border: 1px solid #000;
    padding: 30px;
    margin-top: 10%;
    line-height: 1000%;
    
}


.seller-container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    /* padding-top: 100px; */
    

}

.seller-container h1 {
   
    text-align: center;
    padding: 30px;
   
}

.seller-form {
    flex-direction: column;
   
}

.seller-form input[type=text] {
    display: block;
    padding: 1em;
    font-size: 14px;
    border: 1px solid #747575;
    border-radius: 3px;
    margin-top: 10px;
}

.outline{
    width: auto;
}

.wrapper {
    width: min-content; /* 해당 텍스트의 너비에 맞추는거 */
}

.check-box{
    flex-direction: column;
    width: 100%;
    border: 1px solid #000;
    padding: 30px;
    margin: 0 auto;


}

.outline-text{
    font-family: 'Courier New', Courier, monospace;
    
}


.bold-type{
    content: "";
    display: inline;
    font-weight: bold;

}

.saying{
    padding: 10%;
    line-height: 2;
}

.logo h1{
    margin-top: 50%;
}

/* =========================================== */

  
 

  
  .btn {
      font-family: 'Oswald', sans-serif;
      display: block;
      height: 40px;
      padding: 5px 30px;
      text-align: center;
      text-decoration: none;
      width: 500px;
      font-size: 13px;
      line-height: 2em;
      font-weight: normal;
      letter-spacing: 1px;
      text-transform: uppercase;
      transition: all .3s ease-in-out;
      position: relative;
      
   
    
      top: 50%; 
      left: 50%;
     
      transform: translate(-50%, 50%);
    color: gray;
    border: 2px solid gray;
  
      &:before,
      &:after {
          width: 0%;
          height: 2px;
          position: absolute;
          background: #E54944;
          transition: width .4s ease-in-out;
          content: " ";
        
      }
  
      &:before {
          left: 0;
          top: -2px;
      }
  
      &:after {
          bottom: -2px;
          right: 0;
      }
  
      &:hover {
          padding: 10px 25px 10px 35px;
          border-color: #E54944;
          color: #E54944;
      color: lighten(#e5c100, 50%);
  
          &:before,
          &:after {
              width: 100%;
              
          }
      }
  }






