.main-service {
    text-align: center;
    background-color: #f35f4c;
    padding: 20px;
    color: white;

}

.main-text1 {
    font-size: 1.7em;
    line-height: 40px;
}

.container1-img {
    width: 250px;
    height: 0px;
    position: relative;
    top: 30px;
    left: 40px;
}

.main-container1 {
    width: 70em;
    height: 300px;
    border: 2px solid gray;
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    

}

