
.signupPage{height: 1053px;
		padding-top:55px;
		padding-bottom:75px;
	}
	.new memberInfo{
		margin: 0 auto;
		width : 700px;
		padding-right: 7rem;
		padding-left: 7rem;
	}


h1{
    margin-top: 50px;
    margin-bottom: 50px;
    font-size: 30px;
    line-height: 35px;
    text-align: center;
    letter-spacing: -1px;
    color: rgb(51, 51, 51);

}

.memberInfo {

    margin:auto;

}

.new2 input {

    width: 400px;
    margin: 0px auto;
    height: 46px;
    padding: 4px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #b4b4b4;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: black;
    outline: none;
    box-sizing: border-box;

}

.new label {

    padding-top: 12px;
    width: 110px;
    font-weight: 1000;
    color: rgb(51, 51, 51);
    line-height: 20px;

}

.new > div {

    display: inline-flex;
    padding: 10px 5px;

}

.newid-info{


 padding: 10px 20px;

}
.new ::placeholder {

    width: 100%;
    text-align: left;

}


.signupPage {

    width: 700px;
    margin: 0px auto;
    letter-spacing: -0.6px;
    background-color: rgb(255, 255, 255);
}


.signtop {

    padding-bottom: 10px;
    border-bottom: 2px solid rgb(51, 51, 51);
    font-size: 12px;
    color: rgb(102, 102, 102);
    line-height: 17px;
    text-align: right;

}



.new button{

    
    margin: 0px auto;
    width: 155px;
    height: 46px;
    text-align: center;
    border-radius: 4px;
    border: 1px solid #f35f4c;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    color: #f35f4c;
    outline: none;
    box-sizing: border-box;
    float:right;
}


.signSubmit {

    width: 500px;
    padding-top: 30px;
    margin: 0px auto;
    height: 46px;
    padding: 4px 11px 1px 15px;
    border-radius: 4px;
    border: 1px solid #f35f4c;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    background-color: #f35f4c;
    color: white;
    outline: none;
    box-sizing: border-box;

}

.new button:hover {

    background-color: #f14933;
    color: white;
    transition: .4s;

}

.signSubmit:hover {

    background-color: #f14933;
    border-color: #f14933;
    transition: .3s;

}


.error{
    font-size: 1px;
    height: 20px;
    color:red;
    font-weight: 700;
    display: none;
}

.adress-info div {

    flex-direction: column;
    padding: 10px 8px 10px 0px;

}

.persnalterms {

    flex: auto;
}

.persnalterms p {


    text-align: right;
}

#termstitle {

    font-size: 30px;
}

.persnalterms .c {

    font-size: 12px;
    color: rgb(102, 102, 102);
    padding-top: 4px;
    padding-left: 36px;
}

.focusment2 {
    font-size: 25px;
    margin-bottom: 20px;
    color:#3c3c3c;
}

.focus {
    margin: 40px auto;
    border-bottom: 1px solid rgb(51, 51, 51);

}

.reason p {
        margin-bottom: 13px;
        font-size: 15px;
}