/* https://bbbootstrap.com/snippets/bootstrap-payment-form-floating-labels-and-order-details-59901544 */

body{

    background-color: #eee;
}

.container-1{

    width: 50%;
   
}
.text1 {
    font-size: 50px;
    position: relative;
    top: 0px;
    left: 0px;
    
}



